:root {
  --branding-color: #ffb400;
  --background-color: #fff;
  --primary-accent-color: #00c0e5;
  --secondary-accent-color: #f9c606;
  --tertiary-accent-color: #00132b;
}

body {
  background-color: #ededed;
}
h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 76px;
  line-height: 1;
  color: var(--primary-accent-color);
}

h2 {
  font-size: 50px;
  color: var(--tertiary-accent-color);
}

h3 {
  font-size: 30px;
}

h2,
h3,
p {
  font-family: 'Radio Canada', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

i {
  font-size: 30px;
}

ul {
  margin-top: 90px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

.navbar {
  background-color: var(--primary-accent-color);
  padding-top: 20px;
  padding-left: 50px;
  border-radius: 5px;
}

.nav-link {
  font-size: 20px;
  padding: 20px !important;
  color: var(--tertiary-accent-color) !important;
}

.hero {
   text-align: center;
   background-color: var(--tertiary-accent-color);
   padding: 30px 80px;
}

.hero h2 {
  color: var(--secondary-accent-color);
  font-size: 35px;
}

.btn-primary,
.btn-primary:visited {
  background-color: var(--secondary-accent-color);
  color: var(--tertiary-accent-color);
  border-radius: 5px;
  padding: 15px 25px;
  transition: all 150ms ease-in-out
}

.btn-primary:hover {
  background-color: var(--primary-accent-color);
  color: var(--tertiary-accent-color);
  border: 2px solid none;
  transition: all 150ms ease-in-out
}


.btn-secondary {
  background-color: var(--tertiary-accent-color);
  color: var(--primary-accent-color);
  border-radius: 5px;
  padding: 15px 25px;
  transition: all 150ms ease-in-out
}

.btn-secondary:hover {
  background-color: var(--secondary-accent-color);
  color: var(--tertiary-accent-color);;
  border-radius: 5px;
  padding: 15px 25px;
  transition: all 150ms ease-in-out
}

.about {
  background-color: var(--secondary-accent-color);
  padding: 20px 80px;
}

.about p {
  line-height: 1.7;
  font-size: 19px;
}

.about h3 {
  font-size: 25px;
  font-weight: bold;
}

.about h2 {
  color: black;
}

.contact {
  background-color: var(--secondary-accent-color);
  padding: 30px;
}

.contact h2 {
  color: black;
}

.logo {
  max-height: 250px;
}

.collapse {
  padding: 20px 30px;
}

.projects {
  background-color: var(--primary-accent-color);
}

.social-link {
  display: block;
  justify-content: center;
  padding: 15px 15px;
  margin: 15px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);
  font-size: 20px;
  transition: all 150ms ease-in-out;
}

.social-link:hover,
.social-link:focus {
  color: black;
  background-color: white;
}

.footer {
  color: var(--tertiary-accent-color);
  margin-top: 80px;
  text-align: center;
}

.footer-link {
  color: var(--primary-accent-color);
}

.footer-link:hover {
  color: var(--secondary-accent-color);
  text-decoration: underline;
}

@media (max-width: 800px) {
  h1 {
    font-size: 60px;
  }

  
  .hero h2 {
    font-size: 30px;
    text-align: center;
  }

  .container-content {
    text-align: center;
  }

  .contact {
    margin-top: 50px;
  }

  .project-screenshot {
    display: none;
  }

  .btn-secondary {
    margin-bottom: 40px;
  }

  .navbar {
    padding: 20px;
  }

  .navbar-toggler-icon {
    color: var(--tertiary-accent-color)
  }

  .about-content {
    text-align: center;
  }
}
